h1{
    text-align: center;
}
nav > a{
    color: black;
    font-size: 14px ;
    margin-right: 40px;
}
figure >img{
    width: 100%;
    height: 380px;
}
figure{
    margin: 0%;
}
.flexContainer{
    display: flex;
    justify-content: space-between;
    
}
.divIzquierdo{
    width: 70%;
    height: 200px;
    background-color: chartreuse;
}
.divDerecho{
    width: 29%;
    height: 345px;
    background-color: darkmagenta;
}
.flexContainerII{
    display: flex;
    background-color: orange;

}
.flexContainerIII{
    display: flex;
    background-color:rgb(254, 8, 8) ;
}
div> h4{
    margin-top: 0%;
    margin-bottom: 0%;
}

.divFondoIzquierdo{
    width: 50%;
}
.imagenTamaño{
    width: 100px;
    height: 100px;
}
.flexContainerIIII{
    display: flex;
    justify-content: space-around;
    background-color: greenyellow;
}
#flexContenedor{
    display: flex;
    flex-wrap: wrap;
}
#gridContenedor{
    display: grid;
    grid-template-columns: 30% 30% auto;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-rows: 100px 400px;
}
div#flexContenedor > div{
    width: 400px;
    border: 1px solid red;
    margin-right: 20px;
    margin-top: 20px;
}
div#gridContenedor > div{
    border: 1px solid blue;
    margin-right: 20px;
}
#gridArea {
    display: grid;
    grid-template-areas: 'encabezado encabezado encabezado aside'
    'encabezado intermedio intermedio aside'
    'encabezado encabezado encabezado aside';
}
#divUno {
    grid-area: encabezado;
    background-color: aqua;
}
#divDos {
    grid-area: intermedio;
    background-color: brown;
}
#divTres {
    grid-area: aside;
    background-color: chartreuse;
}